html,body {height:100%;font:12px 'Courier New',Courier,monospace;}
html { 
	/* background:url(img/pi2.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; */
	background-color:#484848;
}
body {
	color:#bbb;
	margin:0 auto;
}
a:link,a:visited {color:#484848;background-color:#bbb;text-decoration:none;}
a:hover,a:active,a.opt {color:#bbb;background-color:#484848;text-decoration:none;}
a.opt:hover,a.opt:active {color:#484848;background-color:#bbb;text-decoration:none;}

#container {
	width:800px;
	margin:0 auto;
	border-left:1px solid #424242;
	min-height:100%;
}
.txt {
	clear:both;
	padding:0 20px 0 20px;
}
#logo {
	float:left;
	padding:20px 0px 30px 20px;
}
[id^="p"] {display:none;margin:0 0 30px 0;}
.txt:target [id^="p"] {display:block;}

pre {font:12px 'Courier New',Courier,monospace;color:#fff;padding:5px 0 5px 0;}
.dat {margin:5px 0 20px 0;}
h1 {margin:10px 0 0 0;}
h2 {margin:10px 0 -7px 0;}
span {color:#fff;}
#fot {padding:20px;}

@media all and (max-width:850px) {
	#container {width:100%;}
}