html,body {height:100%;font:12px 'Courier New',Courier,monospace;}
html { 
	/* background:url(img/pi2.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; */
	background-color:#484848;
}
body {
	color:#bbbbbb;
	margin:0 auto;
}
a:link,a:visited {color:#484848;background-color:#bbbbbb;text-decoration:none;}
a:hover,a:active,a.opt {color:#bbbbbb;background-color:#484848;text-decoration:none;}
a.opt:hover,a.opt:active {color:#484848;background-color:#bbbbbb;text-decoration:none;}

#container {
	width:800px;
	background-color:#484848;
	margin:0 auto -50px;
	border-left:1px solid #404040;
	padding-bottom:0;
	min-height:100%;
}
.txt {
	clear:both;
	padding:0 20px 0 20px;
}
#logo {
	float:left;
	padding:20px 0px 20px 20px;
}
#menu {
	float:right;
	padding:20px 20px 20px 0px;
}
.option {float:left;cursor:pointer;}

pre {font:12px 'Courier New',Courier,monospace;color:#ffffff;padding:5px 0 5px 0;}
.dat {margin:5px 0 20px 0;}
h1 {margin:10px 0 0 0;}
h2 {padding:0;margin:10px 0 -7px 0;}
span {color:#ffffff;}
#fot {padding:20px;}

@media all and (max-width:850px) {
	#container {width:100%;}
}